.custom-button {
    margin-left: 30px !important;
}

.custom-card {
    max-height: 300px;
    margin-left: 50px;
    width: 25%;
}

.calc-input{
    display: flex !important;
}

.result {
    margin-top: 40px;
}